{% extends "base.html" %}

<!-- {% block style%}{% endblock%} -->
{% block link %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="container-intake">
    <form id="survForm" action="/process_survey_intake", method="post">

    <h1>Watermelon Markets - Seller Survey</h1>
    
    <!-- One "tab" for each step in the form: -->
    <!-- Store name intake -->
    <div class="tab" id="id_name_div">What is the name of your store?:
        <p>Example: Razer Gold, Amazon, 
            Target. (If you have multiple stores, choose your top gift card -- you can always add more later.)</p>
      <p><input name="store_name" placeholder="Example: Razer Gold" oninput="this.className = ''"></p>
    </div>
    
    <!-- One "tab" for each step in the form: -->
    <!-- Balance intake -->
    <div class="tab" id="id_balance_div">Balance:
      <p>What is the balance left on your gift card? If possible, please double check your balance before entering the number here. Example answer: $100, 2,000 INR, 200 EUR. </p>
      <p><input type="number" name="balance" min="0" max="" step="1" value="0" placeholder="example: $100, 2,000 INR," oninput="this.className = ''">
        <select name="balance_currency" id="currency">
        <option value="USD">US Dollar</option>
        <option value="EUR">Euro</option>
        <option value="GBP">British Pound</option>
        <option value="JPY">Japanese Yen</option>
        <option value="AUD">Australian Dollar</option>
        <option value="CAD">Canadian Dollar</option>
        <option value="CHF">Swiss Franc</option>
        <option value="CNY">Chinese Yuan</option>
        <option value="HKD">Hong Kong Dollar</option>
        <option value="INR">Indian Rupee</option>
        <option value="KRW">South Korean Won</option>
        <option value="MXN">Mexican Peso</option>
        <option value="MYR">Malaysian Ringgit</option>
        <option value="NZD">New Zealand Dollar</option>
        <option value="PHP">Philippine Peso</option>
        <option value="SGD">Singapore Dollar</option>
        <option value="THB">Thai Baht</option>
        <option value="TRY">Turkish Lira</option>
        <option value="ZAR">South African Rand</option>
        <option value="BRL">Brazilian Real</option>
        <option value="RUB">Russian Ruble</option>
        <option value="SEK">Swedish Krona</option>
        <option value="NOK">Norwegian Krone</option>
        <option value="DKK">Danish Krone</option>
        <option value="PLN">Polish Zloty</option>
        <option value="HUF">Hungarian Forint</option>
        <option value="CZK">Czech Koruna</option>
        <option value="ILS">Israeli New Shekel</option>
        <option value="AED">United Arab Emirates Dirham</option>
        <option value="SAR">Saudi Riyal</option>
        <option value="QAR">Qatari Riyal</option>
        <option value="KWD">Kuwaiti Dinar</option>
        <option value="OMR">Omani Rial</option>
        <option value="BHD">Bahraini Dinar</option>
      </select>
      </p>
      </div>
    
    <!-- One "tab" for each step in the form: -->
    <div class="tab" id="id_selprice_div">What price are you selling at?:
      <p>Example Answer: $70. Please remember a low prices generally results in a faster and more successful sale, and we recommend a substantial discount. This number must be strictly at least ten percent less than the face value of the card, as we only sell discounted gift cards.</p>
      <p><input type="number" name="selling_price" min="0" max="" step="1" value="0" oninput="this.className = ''">
        <select name="selling_price_currency" id="currency">
        <option value="USD">US Dollar</option>
        <option value="EUR">Euro</option>
        <option value="GBP">British Pound</option>
        <option value="JPY">Japanese Yen</option>
        <option value="AUD">Australian Dollar</option>
        <option value="CAD">Canadian Dollar</option>
        <option value="CHF">Swiss Franc</option>
        <option value="CNY">Chinese Yuan</option>
        <option value="HKD">Hong Kong Dollar</option>
        <option value="INR">Indian Rupee</option>
        <option value="KRW">South Korean Won</option>
        <option value="MXN">Mexican Peso</option>
        <option value="MYR">Malaysian Ringgit</option>
        <option value="NZD">New Zealand Dollar</option>
        <option value="PHP">Philippine Peso</option>
        <option value="SGD">Singapore Dollar</option>
        <option value="THB">Thai Baht</option>
        <option value="TRY">Turkish Lira</option>
        <option value="ZAR">South African Rand</option>
        <option value="BRL">Brazilian Real</option>
        <option value="RUB">Russian Ruble</option>
        <option value="SEK">Swedish Krona</option>
        <option value="NOK">Norwegian Krone</option>
        <option value="DKK">Danish Krone</option>
        <option value="PLN">Polish Zloty</option>
        <option value="HUF">Hungarian Forint</option>
        <option value="CZK">Czech Koruna</option>
        <option value="ILS">Israeli New Shekel</option>
        <option value="AED">United Arab Emirates Dirham</option>
        <option value="SAR">Saudi Riyal</option>
        <option value="QAR">Qatari Riyal</option>
        <option value="KWD">Kuwaiti Dinar</option>
        <option value="OMR">Omani Rial</option>
        <option value="BHD">Bahraini Dinar</option>
      </select>
      </div>
    
    <!-- One "tab" for each step in the form: -->
    <div class="tab" id="id_network_div">Which network would you like to receive funds at?:
      <p>If you are unsure, please select Polygon. (You may change this later.)</p>
      <p><select id="id_network"  name="network" oninput="this.className = ''">
        <option value="Polygon">Polygon</option>
        <option value="Ethereum">Ethereum</option>
    </select></p>
    </div>
    
  
    <!-- One "tab" for each step in the form: -->
    <div class="tab" id="id_crypto_address_div">What Polygon or Ethereum address would you like to receive funds at?:
    <p>You may change this later. Example: 0xfA63Ca5caF1D88f42e1A73aE0E0cb7060B9E7292</p>
    <p><input name="crypto_address" oninput="this.className = ''"></p>
    </div>
    
    <!-- One "tab" for each step in the form: -->
    <div class="tab" id="id_depositcard_div">Would you prefer to provide a deposit or the card information for validation?:
    <p>In order to verify your listing, we require either a 10% deposit of the card value in crypto, or full gift card information for verification.</p>
    <p><select id="id_carddeposit_select"  name="card_deposit" oninput="this.className = ''">
        <option value="">Select "Deposit" or "Card"</option>
        <option value="Deposit">Deposit</option>
        <option value="Card">Card</option>
    </select></p>
    </div>
    
    <!-- One "tab" for each step in the form: -->
    <div class="tab" id="id_card_number_div">What is the gift card number?:
    <p>This number is stored securely, and will not be used until you sell your card.</p>
    <p><input  name="card_number" oninput="this.className = ''"></p>
    </div>
    
    <!-- One "tab" for each step in the form: -->
    <div class="tab" id="id_card_pin_div">What is the gift card's PIN or expiration date?:
    <!-- Use select here to indicate if input is pin or date -->
    <p><input name="card_pin" oninput="this.className = ''"></p>
    </div>

    <!-- One "tab" for each step in the form: -->
    <div class="tab" id="id_email_div">Almost done! What is your email address?:
    <!-- Use select here to indicate if input is pin or date -->
    <p><input name="email_address"  oninput="this.className = ''"></p>
    </div>
    
    <!-- One "tab" for each step in the form: -->
    <div style="overflow:auto;">
    <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
    </div>
      
    
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
    
    </form> 
  </div>
    <script src="{{ url_for('static', filename='form_control.js') }}" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

{% endblock %}