{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<body class="bg-image">
<div id="container-thanks">
    <h1>Your survey inputs have been sucessfully submited! </h1>
    <h3>Thank you! </h3>
</div>

<script>
   window.onbeforeunload = function() { 
    window.setTimeout(function () { 
        window.location = '/seller_intake_survey';
    }, 0); 
    window.onbeforeunload = null; // necessary to prevent infinite loop, that kills your browser 
}


</script>
</body>
{% endblock %}